package ${packageName};

import ${dataPacketClass};
import ${queryParameterClass};
import ${importantConfigListClass};

/**
* ${classDescription}
*
* @author ${author}.
* <p>
    * 文件由鹏业软件模型工具生成(模板名称：JavaAdv),一般不应直接修改此文件.
    * Copyright (C) 2008 - 鹏业软件公司
    */
    public class ${className} extends ${dataPacketClassName} {

#if ($fields && $fields.size() > 0)
    <#list fields as field>
    // ${field.description}
    private ${field.type} ${field.name}<#if field.defaultValue??> = ${field.defaultValue}</#if>;
</#list>
#end

    #if ($fields && $fields.size() > 0)
    <#list fields as field>
    /**
    * 获取 ${field.description}.
    *
    * @return ${field.description}.
    */
    public ${field.type} get${field.name?cap_first}() {
    return this.${field.name};
    }

    /**
    * 设置 ${field.description}.
    *
    * @param ${field.name} ${field.description}.
    */
    public void set${field.name?cap_first}(${field.type} ${field.name}) {
    this.${field.name} = ${field.name};
    }
    </#list>
    #end

/**
* 清空对象
*/
@Override
public void clear() {
super.clear();
    #if ($fields && $fields.size() > 0)
    <#list fields as field>
    this.${field.name} = #getDefaultValue(${field.type});
    </#list>
    #end
}

/**
* 复制对象（深复制）
*
* @param sou 被复制的对象
*/
@Override
public void assignFrom(${dataPacketClassName} sou) {
super.assignFrom(sou);
if (!(sou instanceof ${className})) {
return;
}
    ${className} s = (${className}) sou;
    #if ($fields && $fields.size() > 0)
    <#list fields as field>
    this.${field.name} = s.${field.name};
    </#list>
    #end
}

@Override
public String toString() {
return this.getJsonText();
}

    #macro(getDefaultValue type)
        #if ($type == "int" || $type == "Integer")
        0
        #elseif ($type == "String")
        ""
        #elseif ($type == "boolean" || $type == "Boolean")
        false
        #else
        null
        #end
    #end
}